{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet"
      href="{% static 'accounts/candidate/profile.css' %}">
{% endblock %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

<section class="profile-hero">

    <div class="container">

        <div class="profile-card">

            <div class="profile-avatar">

                {% if profile.profile_picture %}

                    <img
                        src="{{ profile.profile_picture.url }}"
                        alt="Profile Picture"
                        class="profile-image">

                {% else %}

                    <div class="avatar-placeholder">

                        {{ request.user.username|first|upper }}

                    </div>

                {% endif %}

            </div>

            <h1>

                {{ request.user.get_full_name|default:request.user.username }}

            </h1>

            <p class="headline">

                {{ profile.headline|default:"Backend Python Developer" }}

            </p>

            <p class="location">

                📍 {{ profile.location|default:"Location not added" }}

            </p>

            <div class="profile-buttons">

                <a href="{% url 'edit_profile' %}" class="edit-btn">

                    Edit Profile

                </a>

                {% if profile.resume %}

                    <a
                        href="{{ profile.resume.url }}"
                        class="resume-btn"
                        target="_blank">

                        View Resume

                    </a>

                    {% else %}

                    <a href="#" class="resume-btn disabled">

                        No Resume

                    </a>

                {% endif %}

            </div>

        </div>

    </div>

</section>

{% endblock %}