{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title> JobCode </title>

        <!-- Bootstrap CSS -->
        <link 
            href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet">

        <!-- Our Own CSS -->
        <link 
            rel="stylesheet" 
            href = "{% static 'jobs/style.css' %}">

        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class = "container">
                <span class = "navbar-brand mb-0 h1">
                    JOBCode
                </span>
            </div>
        </nav>

        {% block content %}

        {% endblock %}
        
    <hr>
    <footer>
        © 2026 JOBCode
    </footer>

</body>
</html>