{% extends "base.html" %}

{% block content%}

<div class="container mt-5">

    <div class="card">

        <h2 class="card-title">
            {{ job.title }}
        </h2>

        <h5 class = "text-muted">
            {{ job.company.name }}
        </h5>

        <hr>

        <p>
            <strong>Status:</strong>

            {% if job.status == "O" %}
                <span class="badge bg-success">
                    {{ job.get_status_display }}
                </span>

            {% elif job.status == "C" %}
                <span class="badge bg-danger">
                    {{ job.get_status_display }}
                </span>

            {% else %}
                <span class="badge bg-warning text-dark">
                    {{ job.get_status_display }}
                </span>

            {% endif %}
        </p>

        <hr>

        <div class="row mt-4">

            <div class="col-md-6">
                <p>
                    <strong>📍 Location:</strong><br>
                    {{ job.location }}
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <strong>💰 Salary:</strong><br>
                    ₹{{ job.salary }}
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <p>
                    <strong>💼 Job Type:</strong><br>
                    {{ job.get_job_type_display }}
                </p>
            </div>

            <div class="col-md-6">
                <p>
                    <strong>📅 Posted:</strong><br>
                    {{ job.posted_at|date:'F d, Y' }}
                </p>
            </div>

        </div>

        <p>
            {{ job.description }}
        </p>

        <div class = "mt-4 d-flex gap-2">
            <a href="{% url 'apply_job' job.id %}"
                class="btn btn-success">
                Apply Now
            </a>

            <a href = "{% url 'job_list' %}"
                class = "btn btn-secondary">
                Back To Jobs
            </a>
        </div>
    </div>
</div>

{% endblock %}
